h1 {
    color:gray;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
p {
    color: grey;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    color:grey;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    background-color: black;
    
}
div {
    width: 1100px;
    margin: auto;
    border: 2px solid white;
    background-color: white;
}
.sticky {
    position: sticky;
    border: 2px solid white;
    top: 0;
    background-color: white;
}

.gallery {
    width: 80%;
    background-color: white !important;
    box-shadow: 8px 4px 8px grey; 
}
.gallery1 {
    width: 80%;
    background-color: white !important;
    box-shadow: 8px 4px 8px grey; 
    float:right;height:300px;width:auto;border:5px;border-image:round;border-radius:2cm;margin-bottom:20px;margin-right:10px;
}
.gallery2 {
        width: 80%;
        background-color: white !important;
        box-shadow: 8px 4px 8px grey; 
        float:left;height:400px;width:auto;margin-left:50px;margin-right:50px

}
.gallery3 {
    width: 80%;
    background-color: white !important;
    box-shadow: 8px 4px 8px grey; 
    float:left;height:400px;width:auto;margin-left:50px;margin-right:50px;margin-top:50px;

}
a:link {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
    margin-left: 370px;
    text-decoration: none;
    border-radius: 50px;
}
a:visited {
    color: white;
}
